### Import Libraries

In [2]:
import pandas as pd
from rdflib import Graph, Literal, BNode, Namespace, RDF, RDFS, URIRef
from rdflib.namespace import FOAF, XSD

### Scanning Files

In [3]:
df = pd.read_csv('src/nba2k_full.csv')

In [4]:
df.isnull().sum()

full_name       0
rating          0
jersey          0
team           23
position        0
b_day           0
height          0
weight          0
salary          0
country         0
draft_year      0
draft_round     0
draft_peak      0
college        76
version         0
dtype: int64

In [5]:
df.dtypes

full_name      object
rating          int64
jersey         object
team           object
position       object
b_day          object
height         object
weight         object
salary         object
country        object
draft_year      int64
draft_round    object
draft_peak     object
college        object
version        object
dtype: object

### Execution

In [6]:
graph = Graph()

In [7]:
example_namespace = Namespace("http://example.org/")
nba_namespace = Namespace("http://example.org/nba2k20#")

In [8]:
graph.bind("example_namespace", example_namespace)
graph.bind("nba_namespace", nba_namespace)
graph.bind("foaf", FOAF)

In [ ]:
for _, row in df.iterrows():
    players_uri = URIRef(example_namespace[row['full_name']])